* {
 margin: 0;
 padding: 0;
}

.banner {
  position: relative;
}


.banner-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 1vw;
}

.logo img {
  width: 20vw;
  height: auto;
}

.slogan-small {
  margin-top: 2vw;
  font-size: 2vw;
  font-family: "Satisfy";
  color: yellow;
}

.slogan-main,
.slogan-main2 {
  font-size: 4vw;
  font-family: "Roboto Condensed";
}

.slogan-main2 {
  margin-bottom: 1vw;
}

.buton {
  background-color: yellow;
  padding: 0.5vw 3vw;
  border-radius: 1.6vw;
}

.buton p {
  font-size: 1vw;
  color: black;
  font-family: "Barlow";
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 2vw;
  max-width: 55vw;
  margin: 0 auto;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.icons a{
  display: flex;
  align-items: center;
  gap: 0.5vw;
  text-decoration: none;
  font-family: "Barlow";
  font-size: 1vw;
  color: black;
}

.icons img{
  width: 2vw;
}

