html, body {
  background-color: #FAF7F2;
}

.banner {
  background-image: url("/public/assets/iteration-1/home-banner.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.banner-text {
  color: white;
  padding-top: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1vw;
}

.logo {
  display: flex;
  justify-content: center;
}

.slogan {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.slogan-small {
  font-family: "Satisfy";
  color: #FDC913;
  font-size: 2vw;
}
.slogan-main {
  font-family: "Roboto Condensed";
  font-size: 5vw;
  line-height: 5vw;
}

.button {
  background-color: #FDC913;
  border-radius: 2vw;
  color: black;
  padding: 1vw 2vw;
  font-size: 1vw;
  font-weight: bold;
  font-family: "Barlow";
  text-align: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2vw;
  margin: 0 auto;
  background-color: white;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.icons a{
  display: flex;
  align-items: center;
  gap: 0.5vw;
  text-decoration: none;
  font-family: "Barlow";
  font-size: 1vw;
  color: black;
}

.icons img {
  width: 2.8vw;
}

.card {
  padding-top: 3vw;
  display: flex;
  height: auto;
  gap: 0.3vw;
  width: 55vw;
  margin: 0 auto;
  position: relative;
}

.left-card, .right-card {
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 0.5vw;
  
}


.card1, .card2, .card3 {
  height: 100%;
  border-radius: 0.5rem;
}

.left-card-text {
  position: absolute;
  color: white;
  width: 15vw;
  height: auto;
  padding: 2vw 1vw;
  line-height: 4vw;
  row-gap: 2vw;
}

.left-card-text p {
  font-family: "Quattrocento";
  font-size: 3vw;
  font-weight: bold;
}

.card button {
  width: 7vw;
  height: 3vw;
  font-size: 0.7vw;
  border-radius: 2vw;
  color: red;
  font-family: "Barlow";
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: white;
}

.right-card-bot , .right-card-top {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 11vw;
  height: 7vw;
  margin: 13vw 1vw;
  row-gap: 0.7vw;
}

.right-card-top {
  margin: 1vw;
}

.right-card-top p {
  font-size: 1.8vw;
  color: white;
  font-family: "Barlow";
  text-align: left;
  font-weight: bold;
}

.right-card-bot p {
  color: black;
  font-size: 1.7vw;
  font-family: "Barlow";
  text-align: left;
  font-weight: bold;
}

span {
  color: red;
}

.menu-slogan {
  justify-content: center;
  text-align: center;
  margin: 2vw 0;
  width: 100%;
}

.slogan2 {
  font-family: "Barlow";
  font-weight: bold;
  font-size: 2vw;

}

.slogan2 span {
  font-family: "Satisfy";
  font-weight: lighter;
}

.pizza-menu {
  background-color: #FAF7F2;
  width: 55vw;
  margin: 0 auto;
}

.pizza-menu nav {
  display: flex;
  justify-content: center;
  gap: 1vw;
  background-color: #FAF7F2;
}

.pizza-menu a {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  text-decoration: none;
  font-family: "Barlow";
  font-size: 0.7vw;
  color: black;
  background-color: white;
  border-radius: 5vw;
  padding: 0.3vw 1vw;
  margin: 1vw 0;
}

.pizza-menu img {
  width: 2vw;
}

nav .pizza {   
  background-color: #292929;
  color: white;
}

.pizza-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 22vw;
}

.pizza-card img {
  width: 80%;
  height: auto;
  margin: 2vw auto;
}

.pizza-card1 , .pizza-card2 , .pizza-card3 {
  width: 17vw;
  height: auto;
  background-color: white;
}

.pizza-text {
  display: flex;
  justify-content: left;
  font-size: 1.2vw;
  font-family: "Barlow";
  font-weight: bold;
  margin: 0.5vw 1vw;
}


.price{
  display: flex;
  justify-content: space-between;
  font-family: "Barlow";
  font-size: 1vw;
  margin: 0 1vw;
}

.price span {
  color: black;
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1A1A1A;
  margin-top: 2vw;
}

.main-top {
  display: flex;
  margin: 5vw 20vw;
  height: 20vw;
}

.left-side {
  color: white;
  width: 30vw;
  height: auto;
}

.left-side img {
  width: 60%;
  height: auto;
  margin-bottom: 20%;
}

.left-side ul, .mid ul {
  margin: 0;
  padding: 0;
}

.left-side li {
  display: flex;
  justify-content: left;
  align-items: center;
  line-height: 1.3vw;
  list-style: none;
  font-family: "Barlow";
  font-size: 1.2vw;
  margin: 1vw 0;
}

.left-side li img {
  width: 1.5vw;
  height: auto;
  margin: 0vw 1vw;
}

.mid {
  color: white;
  width: 30vw;
  font-family: "Barlow";
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 10%;
  margin-top: 10%;
  gap: 1vw;
}

.mid p {
  font-size: 1.5vw;
}

.mid li {
  list-style: none;
  font-size: 1vw;
  line-height: 2.5vw;
}

.right-side {
  color: white;
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: space-around;
  text-align: start;
}

.right-text {
  font-family: "Barlow";
  font-size: 2vw;
}

.insta-img {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5vw;
}

.insta-img img{
  width: 30%;
}

.main-bottom {
  display: flex;
  color: white;
  justify-content:space-around;
  text-align: center;
  align-items: center;
  font-family: "Barlow";
  font-size: 0.7vw;
  border-top: 0.1px solid #5F5F5F;
  height: 5vw;
}

@media (max-width: 768px) {
  
  .logo {
    width: 40vw;
    padding: 3vw 0;
  }

  .slogan-small {
    display: none;
  }

  .slogan-main {
    width: 45vw;
    height: auto;
    font-size: 10vw;
    line-height: 10vw;
  }

  .button {
    width: 20vw;
    height: auto;
    margin-top: 6vw;
    font-size: 2vw;
  }

  .menu {
    width: 100vw;
    height: 15vh;
  }

  .icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 15vh;
  padding: 2vw 0;
  row-gap: 2.4vw;
  }

  .icons a {
    width: 40%;
    height: 20%;
    justify-content: left;
    align-items: center;
    font-size: 3vw;
    gap: 2vw;
  }

  .icons img {
    width: 4vw;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .card {
    flex-direction: column;
    width: 100vw;
    height: auto;
    align-items: center;
  }

  .left-card, .right-card {
    width: 60%;
    height: auto;
  }
  
  .left-card-text {
    width: 50vw;
    height: 20vh;
  }

  .left-card-text p {
    font-size: 10vw;
    line-height: 10vw;
    padding-top: 3vw;
    padding-left: 2vw;
  }

  .left-card button {
    width: 25vw;
    height: 5vh;
    font-size: 3vw;
    margin-top: 9vw;
    border-radius: 5vw;
  }

  .right-card-top, .right-card-bot {
    width: 30vw;
  }

  .right-card-bot {
    margin-top: 30vw;
  }

  .right-card-top p, .right-card-bot p {
    font-size: 4vw;
  }

  .right-card button {
    font-size: 1.5vw;
    width: 15vw;
    height: 3vh;
    border-radius: 5vw;
  }

  .right-card-top button {
    margin-top: 2vw;
  }

  .menu-slogan {
    width: 60vw;
    height: auto;
    margin: 0 auto;
  }

  .slogan2 p{
    font-size: 5vw;
  }

  .slogan2-bot{
    font-size: 8vw;
  }

  .pizza-menu {
    background-color: #FAF7F2;
    width: 60vw;
    margin: 0 auto;
  }
  
  .pizza-menu nav {
    display: flex;
    flex-wrap: wrap;
    
    
  }
  
  .pizza-menu a {
    width: 40%;
    height: 20%;
    font-size: 3vw;
    justify-content: left;
    align-items: center;
  }
  
  .pizza-menu img {
    width: 4vw;
    height: auto;
  }
  
  nav .pizza {   
    background-color: #292929;
    color: white;
  }
  
  .pizza-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
  }
  
  .pizza-card img {
    width: 100%;
    margin: 2vw auto;
  }
  
  .pizza-card1 , .pizza-card2 , .pizza-card3 {
    width: 100%;
    height: auto;
  }
  
  .pizza-text {
    display: flex;
    justify-content: left;
    font-size: 4vw;
    font-family: "Barlow";
    font-weight: bold;
    margin: 0.5vw 1vw;
  }
  
  
  .price{
    display: flex;
    justify-content: space-between;
    font-family: "Barlow";
    font-size: 3vw;
    margin: 0 1vw;
  }
  
  .price span {
    color: black;
    font-weight: bold;
  }
  
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-top {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .left-side img {
    width: 100%;
  }

  .left-side li {
    width: 60vw;
    font-size: 4vw;
    line-height: 4vw;
    justify-content: left;
  }

  .left-side li img {
    width: 6vw;
    height: auto;
  }

  .mid {
    
  }
}
  