html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: #FAF7F2;
}

.banner {
  position: relative;
}


.banner-text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  
  color: white;
  margin-top: 1vw;
}

.logo img {
  width: 20vw;
  height: auto;
  margin: 2vw 0;
}

.slogan {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1vw
}

.slogan-main {
  display: flex;
  flex-wrap: wrap;
  width: 30vw;
  font-family: "Roboto Condensed";
  font-size: 4vw;
  line-height: 3.5vw;
}

.slogan-small {
  font-family: "Satisfy";
  color: #FDC913;
  font-size: 2vw;
}

.button {
  background-color: #FDC913;
  border-radius: 2vw;
  color: black;
  padding: 0.5vw 2vw;
  font-size: 1vw;
  font-weight: bold;
  font-family: "Barlow";
  width: 10vw;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2vw;
  margin: 0 auto;
  background-color: white;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.icons a{
  display: flex;
  align-items: center;
  gap: 0.5vw;
  text-decoration: none;
  font-family: "Barlow";
  font-size: 1vw;
  color: black;
}

.icons img {
  width: 2.8vw;
}

.card {
  padding-top: 3vw;
  display: flex;
  height: auto;
  gap: 0.3vw;
  width: 55vw;
  margin: 0 auto;
  position: relative;
}

.left-card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.right-card {
  display: flex;
  flex-direction: column;
  row-gap: 0.5vw;
  position: relative;
}

.card1 {
  height: 100%;
  border-radius: 0.5rem;
}

.card2 , .card3 {
  height: 100%;
  border-radius: 0.5rem;
}

.left-card-text {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  color: white;
  text-align: left;
  width: 15vw;
  height: 13vw;
  text-align: left;
  padding: 2vw 1vw;
  line-height: 4vw;
  row-gap: 2vw;
}

.left-card-text p {
  font-family: "Quattrocento";
  font-size: 3vw;
  font-weight: bold;
}

.left-card-text button, .right-card-top button, .right-card-bot button {
  width: 7vw;
  height: 3vw;
  font-size: 0.7vw;
  border-radius: 2vw;
  color: red;
  font-family: "Barlow";
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-color: white;
}

.right-card-top {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 11vw;
  height: 7vw;
  margin: 1vw 1vw;
  row-gap: 0.7vw;
}

.right-card-top p {
  font-size: 1.8vw;
  color: white;
  font-family: "Barlow";
  text-align: left;
  font-weight: bold;
}

.right-card-bot {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 11vw;
  height: 7vw;
  margin: 13vw 1vw;
  row-gap: 0.7vw;
}

.right-card-bot p {
  color: black;
  font-size: 1.7vw;
  font-family: "Barlow";
  text-align: left;
  font-weight: bold;
}

span {
  color: red;
}

.menu-slogan {
  justify-content: center;
  text-align: center;
  margin: 2vw 0;
  width: 100%;;
}

.slogan p {
  font-family: "Barlow";
  font-weight: bold;
  font-size: 2vw;

}

.menu-slogan span {
  font-family: "Satisfy";
  font-weight: 100;
}

.pizza-menu {
  background-color: #FAF7F2;
  width: 55vw;
  margin: 0 auto;
}

.pizza-menu nav {
  display: flex;
  justify-content: center;
  gap: 1vw;
  background-color: #FAF7F2;
}

.pizza-menu a {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  text-decoration: none;
  font-family: "Barlow";
  font-size: 0.7vw;
  color: black;
  background-color: white;
  border-radius: 5vw;
  padding: 0.3vw 1vw;
  margin: 1vw 0;
}

.pizza-menu img {
  width: 2vw;
}

nav .pizza {
  background-color: #292929;
  color: white;
}

.pizza-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 22vw;
}

.pizza-card1 img , .pizza-card2 img , .pizza-card3 img {
  width: 80%;
  height: auto;
  margin: 2vw auto;
}

.pizza-card1 , .pizza-card2 , .pizza-card3 {
  width: 17vw;
  height: auto;
  background-color: white;
}

.pizza-text {
  display: flex;
  justify-content: left;
  font-size: 1.2vw;
  font-family: "Barlow";
  font-weight: bold;
  margin: 0.5vw 1vw;
}


.price{
  display: flex;
  justify-content: space-between;
  font-family: "Barlow";
  font-size: 1vw;
  margin: 0 1vw;
}

.price span {
  color: black;
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1A1A1A;
  margin-top: 2vw;
}

.main-top {
  display: flex;
  margin: 5vw 20vw;
  height: 20vw;
}

.left-side {
  color: white;
  width: 30vw;
  height: auto;
}

.left-side img {
  width: 60%;
  height: auto;
  margin-bottom: 20%;
}

.left-side ul, .mid ul {
  margin: 0;
  padding: 0;
}

.left-side li {
  display: flex;
  justify-content: left;
  align-items: center;
  line-height: 1.3vw;
  list-style: none;
  font-family: "Barlow";
  font-size: 1.2vw;
  margin: 1vw 0;
}

.left-side li img {
  width: 1.5vw;
  height: auto;
  margin: 0vw 1vw;
}

.mid {
  color: white;
  width: 30vw;
  font-family: "Barlow";
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 10%;
  margin-top: 10%;
  gap: 1vw;
}

.mid p {
  font-size: 1.5vw;
}

.mid li {
  list-style: none;
  font-size: 1vw;
  line-height: 2.5vw;
}

.right-side {
  color: white;
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: space-around;
  text-align: start;
  
}

.right-text {
  font-family: "Barlow";
  font-size: 2vw;
}

.insta-img {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5vw;
}

.insta-img img{
  width: 30%;
}

.main-bottom {
  display: flex;
  color: white;
  justify-content:space-around;
  text-align: center;
  align-items: center;
  font-family: "Barlow";
  font-size: 0.7vw;
  border-top: 0.1px solid #5F5F5F;
  height: 5vw;

}

